#nav {
    #menu-scandiweb-core-all {
        > a {
            &:before {
                content: '';
                background-image: url("../Scandiweb_Core/images/sw-logo.svg");
                background-repeat: no-repeat;
                background-size: 70px;
                background-position: center;
                height: 50px;
            }
        }
    }
}